---
---
$pattern: "{{ site.baseurl }}/images/pattern.png";
$screenshot-buttons: "{{ site.baseurl }}/images/screenshot-buttons.svg";

$primary: #0A8F74;
$secondary: #2B2F38;
$light: #EEEADE;
$dark: #2B2F38;
$white: #FFF;

$white: #FFF;
$yellow: #FFC832;
$red: #FF8B6F;
$orange: #F47C20;
$blue: #4360A8;
$light-blue: #3CC6ED;
$html-background-color: #fff;
$secondary-brand-color: #FFC461;
$font: 'IBM Plex Serif', serif;
$alt-font: 'IBM Plex Sans Condensed', sans-serif;

// Breakpoints
$container: 1200px;
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
$small: "(min-width: 450px)";
$medium: "(min-width: 620px)";
$medium-down: "(max-width: 620px)";
$large: "(min-width: 768px)";
$large-down: "(max-width: 768px)";
$mlarge: "(min-width: 992px)";
$xlarge: "(min-width: 1200px)";

@import "elements";
@import "layout";
@import "home";
@import "contact";
@import "about";
@import "forms";
@import "header";
@import "footer";
@import "cloudcannon";
