<footer class="site-footer">
  <div class="container">
    <section class="site-footer-grid">
      <div class="footer-contact editable">
        <h6 class="primary-color">Get in Touch</h6>
        <p>970.214.2888</p>
        <p><a href="/contact/">Contact Us</a></p>
        <p><a href="/free-estimate/">Get a Free Estimate</a></p>
      </div>
      <div class="footer-line">
        <p class="copy">&copy;{{ site.time | date: '%Y' }} Kenosha Security</p>
        <p class="site-by"><a href="https://harrierdesigncompany.com" target="_blank">Website by Harrier Design Company</a></p>
      </div>
    </div>
  </section>
</footer>