.site-footer {
  background: darken($dark, 10%);
  font-family: $alt-font;
  color: $white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media #{$large} {
    grid-gap: 2em;
  }
  .footer-line {
    padding: 1.5rem;

    @media #{$large} {
      padding: 1.5rem  3rem;
    }
    @media #{$xlarge} {
      padding: 1.5rem 4rem;
    }
    .site-by {
      color: $white;
      a {
        text-decoration: none;
        border-bottom: 1px dotted;
        color: inherit;
      }
    }
    p {
      margin: 0;
    }
  }
}