.site-footer {
  background: darken($dark, 10%);
  color: $white;
  .site-footer-grid {
  padding: 2rem 1rem;
  font-family: $font;
  @media #{$medium} {
    grid-gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  p {
    margin: 0 0 5px;
  }
  h6 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}
a {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: inherit;
  &:hover {
    border-bottom: 1px dotted $primary;
  }
}
  .footer-line {
    padding-top: 1rem;
    @media #{$medium} {
      text-align: right;
      padding-top: 0;
      align-self: end;
    }
    .site-by {
      color: $white;

    }
  }
}