---
layout: default
---
<section class="about-section section-padding light-bg topo-overlay">
  <div class="container">
    <div class="about-grid">
      <div class="about-content">
        <h1 class="page-title">{{ page.title }}</h1>
        <h2 class="sub-title">{{ page.subtitle }}</h2>
        {{ content }}
        <a href="/free-estimate" class="btn primary" title="Get a Free Estimate">Get a Free Estimate {% include arrow.html %}</a>
        <a href="/services" class="btn secondary" title="View Our Services">View Our Services {% include arrow.html %}</a>

      </div>
      <div class="about-image">
          <img alt="Barb Bowman with Horse" src="/images/barb-bowman.png" />
      </div>
    </div>
  </div>
</section>