---
layout: default
---
<section class="about-section section-padding light-bg topo-overlay">
  <div class="container">
    <div class="services-grid">
      <div class="services-content">
        <h1 class="page-title">{{ page.title }}</h1>
        <h2 class="sub-title">{{ page.subtitle }}</h2>
        {{ content }}
        <a href="/free-estimate" class="btn primary" title="Get a Free Estimate">Get a Free Estimate {% include arrow.html %}</a>
      </div>
      <div class="services-list">
        <h6>Services Overview:</h6>
        <ul class="editable services-overview-list">
            <li>Absentee Residential Care</li>
            <li>Property and Security Checks</li>
            <li>Interior & Exterior Care</li>
            <li>Vacation Renal Management</li>
            <li>On-Site Digital Photos</li>
            <li>Monthly Reports</li>
            <li>Free estimates</li>
            <li>Competitive Pricing</li>
          </ul>
      </div>
    </div>
  </div>
</section>
<section class="about-section section-padding secondary-bg">
    <div class="container">
      <div class="samples-grid white-color" >
        <div class="sample-content">
          <h3>Interior Checklist</h3>
          <ul>
            <li>Reset electrical appliances / breakers from power outage</li>
            <li>Check Smoke Alarms and replace batteries</li>
            <li>Adjust window blinds</li>
            <li>Flush/Check Toilets</li>
            <li>Check all faucets and drains</li>
            <li>Run kitchen sink disposal</li>
            <li>Watering of indoor plants</li>
            <li>Visual check for pests or rodents</li>
            <li>Replace burned out light bulbs</li>
            <li>Check overhead garage door</li>
            <li>Check plumbing for leaks</li>
            <li>Check for Water Damage</li>
            <li>Check for windows and skylights for damage or leaks</li>
            <li>Change Lighting schedule</li>
          </ul>
        </div>
        <div class="sample-content">
          <h3>Exterior Checklist</h3>
          <ul>
            <li>Inspect area for vandalism and or forced entry </li>
            <li>Inspect area for bear damage </li>
            <li>Check doors, windows, and screens to ensure they are secure </li>
            <li>Clear out unwanted flyers and newspapers from your yard </li>
            <li>Inspect roof and gutters </li>
            <li>Check outside hydrants and faucets </li>
            <li>Remove Snow upon request </li>
          </ul>
          </div>
          <div class="sample-content">
            <h3>Potential Problems your property will be inspected for:</h3>
            <ul>
              <li>Storm Damage</li>
              <li>Forced Entry</li>
              <li>Flooding/ lightning damage</li>
              <li>Moisture problems</li>
              <li>Plumbing failures</li>
              <li>Pest Invasion</li>
              <li>Bear Break In</li>
              <li>Frozen / Broken Pipes</li>
              <li>Tripped breakers</li>
              <li>Function of heating and air conditioning systems</li>
              <li>Unlocked Windows or Doors</li>
              <li>Function of refridgerator</li>
            </ul>
          </div>
      </div>
    </div>
  </section>